* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid #000; */
}
.container {
  height: 100vh;
  width: 100%;
  background-color: blueviolet;
}
.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box {
  height: 200px;
  width: 60%;
  background-color: #fff;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
.state,
.district {
  width: 50%;
}
label {
  margin: 8px 0px;
  display: block;
}
select {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgb(128, 128, 128);
  font-size: 16px;
  cursor: pointer;
}

select:focus {
  /* border: 1px solid rgb(223, 221, 221); */
  outline: none;
}
